<a href="https://colab.research.google.com/github/ash-win19/Methods-of-Data-Science/blob/main/MoDS_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Dimensionality (Part I - 5 pts)

In [ ]:
import pandas as pd

dataFrame = pd.read_csv('/content/Census.csv')
dataFrame.shape

(32560, 6)

In [ ]:
# Number of missing values
dataFrame.isna().sum()

Age                 0
Employer           66
Education Years     0
Gender              0
Hours Per Week      0
Salary              0
dtype: int64